:root {
  --card-dim-ratio: 16 / 25; /* based on the background image */
  --card-height: 150px; /* scale everything by changing just this */
  --card-width: calc(var(--card-height) * var(--card-dim-ratio));

  --border-width: calc(var(--card-height) / 50);

  --default-face: "White";
  --selected-face: "LightGrey";
  --default-border: "#0b2652"; /* attempt to match background picture */
  --selected-border: "Red";

  /* attempt to match suit image colours */
  --red-suit: "#85221b";
  --black-suit: "Black";

  --stack-vert-spacing: calc(var(--card-height) / 200);
  --stack-hori-spacing: calc(var(--card-width) / 16);
}

.card {
  height: var(--card-height);
  width: var(--card-width);

  /* picked to work well with background image's own border */
  border-style: solid;
  border-width: var(--border-width);
  border-radius: calc(var(--card-height) * 3 / 50);

  background-position: center;
}

.card-info {
  width: calc(var(--card-width) * 9 / 32);
  padding: calc(var(--card-height) / 100) 0;

  text-align: center;
  font-size: calc(var(--card-width) / 4);
}

.card-info img {
  width: calc(var(--card-width) * 3 / 16);
}

.stack {
  display: flex;
  /* margin: 0 auto; */
}

.deck {
  display: flex; /* puts both halves on the same row when cut */
  /* the max size that a split full deck takes up */
  height: calc(
    var(--card-height) + (2 * var(--border-width)) +
      (var(--stack-vert-spacing) * 13)
  );
  width: calc(
    (2 * var(--card-width)) + (2 * var(--border-width)) +
      (var(--stack-hori-spacing) * 13)
  );
}
