.game-component {
  /* position container horizontally center */
  max-width: 1000px; /* TODO: CSS: figure out appropriate width (bounds)*/
  margin: 10px auto;

  display: flex;

  border: dotted 1px LightGrey; /* TEMP: border lines */
}
